<!-- Extends the template: templates/template.html !-->
{% extends "template.html" %}

<!-- The block which is defined in template: templates/template.html !-->
{% block page_content %}
<div class="container">
<div class="row">
  <div class="span4">
    <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Sign in!</legend>
    <form class="col-md-4 col-md-offset-4">
      <div class="form-group">
          <input type="text" class="form-control input-lg" placeholder="Email">
      </div>
      <div class="form-group">
          <input type="password" class="form-control input-lg" placeholder="Password">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
          <span><a href="#">Need help?</a></span>
          <span class="pull-right"><a href="#">New Registration</a></span>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
